.btn {
    background-color: white;
    color: #004D40;
    height: 50px;
    width: 400px;
    /* padding: 0 1vw; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #00FFF6;
    margin-right: 1vw;
    margin-top: 2vw;
}

.add{
    border-color: #00FFF6;
}

.add:hover {
    background-color: #00FFF6;
    border-color: #00FFF6;
    /* border-color: black; */
    /* color: #004D40; */
    color: black;
}

.screen{
    border-color: #3da9fb;
}

.screen:hover {
    background-color: #3da9fb;
    border-color: #3da9fb;
    /* border-color: black; */
    color: black;
    /* color: black; */
}

.about{
    margin-top: 2.5vh;
    margin-right: 9.5vh;
    width: 150px;
    background-color: #3da9fb;
    border-color: white;
    color: white;
}

.about:hover{
    background-color: white;
    border-color: white;
    color: #3da9fb;
}

.btn-screen{
    background-color: white;
    color: #3da9fb;
    height: 40px;
    width: 68px;
    padding-top: 0.5vh;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #3da9fb;
    margin-left: 17vw;
    margin-top: 2vw;
}

.btn-screen{
    background-color: white;
    color: #3da9fb;
    height: 40px;
    width: 100px;
    padding-top: 0.5vh;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #3da9fb;
    margin-left: 20vw;
    margin-top: 2vw;
}

.btn-screen:hover,
.btn-modal:hover{
    background-color: #3da9fb;
    color: white;   
}