.btn {
    background-color: white;
    color: #004D40;
    height: 50px;
    width: 400px;
    padding: 0 1vw;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #00FFF6;
    margin-right: 1vw;
    margin-top: 2vw;
}

.add{
    border-color: #00FFF6;
}

.add:hover {
    background-color: #00FFF6;
    border-color: #00FFF6;
    /* border-color: black; */
    /* color: #004D40; */
    color: black;
}

.screen{
    border-color: #3da9fb;
}

.screen:hover {
    background-color: #3da9fb;
    border-color: #3da9fb;
    /* border-color: black; */
    color: black;
    /* color: black; */
}

.about{
    margin-top: 2.5vh;
    margin-right: 9.5vh;
    width: 150px;
    background-color: #3da9fb;
    border-color: white;
    color: white;
}

.about:hover{
    background-color: white;
    border-color: white;
    color: #3da9fb;
}

.new-user-button {
    width: 20vw;
    height: 6vh;
    border-radius: 3vh;
    border: none;
    padding-top: 1vh;
}

.new-user-button h1 {
    color: #2bc7e2;
    font-family: Raleway;
    font-size: 16px;
}