.btn {
    background-color: white;
    color: #004D40;
    height: 3vw;
    width: 10vw;
    padding: 0 1vw;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #00FFF6;
    margin-right: 1vw;
}

.register{
    border-color: #00FFF6;
}

.register:hover {
    background-color: #00FFF6;
    border-color: #00FFF6;
    /* border-color: black; */
    color: #004D40;
    /* color:black; */
}

.signin{
    border-color: #3da9fb;
}

.signin:hover {
    background-color: #3da9fb;
    border-color: #3da9fb;
    /* border-color: black; */
    color: #004D40;
    /* color: black; */
}

.about{
    margin-top: 2.5vh;
    margin-right: 9.5vh;
    background-color: #3da9fb;
    border-color: white;
    color: white;
}

.about:hover{
    background-color: white;
    border-color: white;
    color: #3da9fb;
}