.float-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.float-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle{
    font-family: Raleway;
    font-size: 10vh;
    margin: 0;
    margin-right: 6vw;
    font-weight: 300;
}
.title {
    font-family: Raleway;
    font-size: 10vh;
    margin: 0;
    margin-right: 1vw;
    font-weight: 500;
}
.desc{
    font-family: Raleway;
    font-size: 3vh;
    margin: 0;
    margin-left: 14vw;
    font-weight:200;
    /* flex-wrap: wrap; */
}

.peach {
    color: #fbddb1;
}

.white {
    color: white;
}

.bottom {
    justify-content: flex-end;
}

.top {
    justify-content: flex-start;
}

.center {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-title {
    font-family: Raleway;
    font-size: 4vh;
    margin-bottom: 1.5vh;
    font-weight: 500;
}

.textBox{
    margin: 8px;
    padding: 8px 15px;
    border: none;
    border-bottom: 2px solid darkgray;
    outline: none;
}

.textBox:valid{
    border-bottom: 2px solid #3da9fb;
}

.code-header{
    margin-top: 2vh;
    margin-bottom: 0;
    font-family: Raleway;
    font-size: 2.5vh;
    font-weight: 500;
}

.modal-col{
    margin-top: 1.5vh;
    margin-left: -1vw;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

.vert-separator{
    margin-top: 10px;
    width: 2px;
    /* margin: 6px 0; */
    background: gray;
}

.admin-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

.code-desc{
    font-family: Raleway;
    font-weight: 300;
    font-size: 1.5vh;
    align-self: center;
}

.pin{
    font-family: Raleway;
    font-weight: 600;
    font-size: 5vh;
    margin-top: 3px;
    margin-bottom:3px;
}

.admin{
    color: #3da9fb;
}
.student{
    color: #00fff6;   
}

.pinBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.numBox{
    border: 2px solid black;
    border-radius: 3px;
}