.modal-input-bar {
    height: 3vw;
    display: flex;
    flex-direction: row;
}

.co-description-container {
    border-radius: 4px;
    margin: 0.5vw 1vw 1vw 1vw;
}

.co-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 1vw 0 1vw;
}

.co-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1vw 1vw 0 1vw;
}

.co-description {
    padding: 1vw 1vw 0 1vw;
}

.ant-modal-header {
    background-color: aquamarine !important;
}
